$especial-texts: #ffff00; //fundo azul texto amarelo 
$especial-texts-2: #fff;
$all-texts: #222b8e;
$button-all: #ffff00; // -> mais escura / #ffdd00 -> mais clara

$background: #02559B;
$titles: #0C0C0D;
$sub-titles: #2a2a2e;