@use "text";
@use "colors";

@mixin flexContainer($x, $y, $z) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-direction: $z;
}

@mixin menuLists() {
    @include text.signika("SignikaNegative-Light.ttf", "Light");
    list-style-type: none;
    font-family: "Signika-Light", Helvetica, sans-serif;
    color: colors.$especial-texts;
    font-size: 1.3em;
}

@mixin navigationItems() {
    li {
        @include menuLists();
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
            color: colors.$especial-texts-2;
        }
    }
}

@mixin texts {
    font-family: "Rubik-Light", Helvetica, sans-serif;
    font-size: 1.1em;
    color: colors.$all-texts;
}

@mixin Titles() {
    @include text.rubik("Rubik-Light.ttf", "Light");
    font-family: "Rubik-Light", Helvetica, sans-serif;
    font-size: 2.5vw;
    color: colors.$titles;
}

@mixin Subtitles() {
    font-family: "Rubik-Light", Helvetica, sans-serif;
    font-size: 1.2em;
    color: colors.$sub-titles;
    text-decoration: underline;
}

@mixin buttons() {
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: colors.$all-texts;
    background-color: colors.$button-all;
    font-family: "Rubik-Light", Helvetica, sans-serif;
    cursor: pointer;
}

@mixin especial-buttons {
    border: 3px solid black;
    color: colors.$especial-texts-2;
    padding: 10px;
    border-radius: 20px;
    background-color: colors.$especial-buttons;
    font-size: 1.3em;
    font-family: "Rubik-Light", Helvetica, sans-serif;
    cursor: pointer;
}
